.landinglogo {

}

.landingimage {
    padding: 10px
}

.landingheader {
    padding: 10px

}

.landingtagline {

}

.landingheadline {
    padding: 10px

}

.landingpararaph {

}

.buttongroup{
    padding: 10px

}

.signupbutton {
    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
}

.loginbutton {
    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
}

.rhc{
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.or {
    padding-top: 10px

}