.landinglogo {
    margin-top: -5%;
    margin-left: 40%;
    margin-bottom: 2%;
}

.landinglogo2 {
    margin-top: 0%;
    margin-left: 0%;
}

.landingimage {
    padding: 10px;
    margin-left: 10%;
}

.paracont {
    text-align: center;
    width: 600px;
}

.landingheader {
    padding: 0px;
    margin-left: 36%;

}

.landingtagline {
    margin-left: 26%;
    margin-bottom: 2%;

}

.landingheadline {
    padding: 10px;
    font-size: 33px;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 15%;

}

.landingpararaph {
    text-align: centers;

}

.buttongroup{
    margin-top: 40px;  
    margin-left: 30%;

}

.signupbutton {
    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
    margin-bottom: 10px !important;
    width: 100px;
	height: 50px;
    font-size: 18px !important;
    display: inline !important;
}

.loginbutton {
    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
    width: 100px;
	height: 50px;
    font-size: 18px !important;
    display: inline !important;
}


.or {
    display: inline !important;
    padding: 20px;
}

.container {
    margin: 0px !important;
}