.SignInPagePNG {
    margin-top: 30px;
}

.signbtn {
    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
    margin-bottom: 2% !important;
    width: 100px;
	height: 50px;
    font-size: 18px !important;
    display: inline !important;
	border-radius: 10px;
	margin-top: 5%;

}

.submitbtn {
    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
    margin-bottom: 2% !important;
    width: 100px;
	height: 50px;
    font-size: 18px !important;
    display: inline !important;
	border-radius: 10px;
	margin-top: 5%;

}

.regbtn {

    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
    margin-bottom: 2% !important;
    width: 100px;
	height: 50px;
    font-size: 18px !important;
    display: inline !important;
	border-radius: 10px;
	margin-top: 5%;

}

.resetbtn {

    background-color: rgb(50, 60, 132) !important;
    border: rgb(50, 60, 132) !important;
    color: white !important;
    margin-bottom: 2% !important;
    width: 200px;
	height: 50px;
    font-size: 18px !important;
    display: inline !important;
	border-radius: 10px;
	margin-top: 5%;
}

.col2 {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 10%;
}

.break {
    margin-bottom: 50px;
}