.detail {   
    margin-left: 550px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 12em;
    text-align: center;
    font-size: 18px;

}

.profile{
    margin-left: 550px;
    margin-right: 0px ;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 12em;
    margin-bottom: 15px;
    margin-top: 20px;

}

.header {
    text-align: center;

}  

