* {
    padding: 0;
    margin: 0;
  }
  
  .container {
    height: 500vh;
    background-color: #fff;
    position: sticky;
    top: 0;
  }
  
  .logo {
    display:flex;
    justify-content: center;
  }


  .container .sidebar {
  height: 100%; 
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(206, 236, 218);
  overflow-x: hidden;
  padding-top: 16px; 
  text-align: match-parent;
  justify-content: center;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  }
/*  
  a:link {text-decoration none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; } */

  .sidebar li:nth-child(1) {
    padding: 30px 30px;
  }
  
  .sidebar li:hover:nth-child(1) {
    padding: 12px;
    background-color: transparent;
    color: #f2f2f2;
  }
  
  .sidebar li {
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar li span:nth-child(1) {
    font-size: 20px;
  }
  
  .sidebar li span:nth-child(2) {
    font-size: 20px;
  }
  
  .sidebar li:hover {
    background-color: #f2f2f2;
    padding: 12px;
  }
  
  .container .content {
    padding-left: 75px;
  }
   