.header {
 margin-left: 0px;
 text-align: center;
}


.col1 {
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;

}

.col2 {
    padding: 10px;
    margin-left: 0px;
}

.col3 {
    padding: 10px;
    margin-left: 0px;

}

.avcycle {
    margin-top: 0;
    margin-bottom: -10 !important;
    margin-left: 0;
    margin-right: 0;
    font-size: 20px !important;
}

.moodover {

}

.sympover {

}