/* this is just for visibility purposes, the below will be amended by Adonelle and Morag*/
.mfl-footer {
    font-family: 'Trebuchet MS', 'Helvetica', 'sans-serif' ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}

.mfl-footer-element {
    margin-bottom: 10px;
}